@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

#header {
    display: flex;
    height: 82px;
    background-color: brown;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#title {
    font-size: 42px;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width: 82px;
    height: auto;
    margin-left: 18px;
    margin-right: -100px;
}

#content-body {
    display: flex;
    height: calc(100vh - 82px);
    background-color: cadetblue;
    justify-content: center;
    gap: 32px;
}

#list-menu {
    width: 15vw;
    margin-top: 28px;
    margin-bottom: 28px;
    background-color: cornsilk;
    border-radius: 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#list-menu-title {
    width: 15vw;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 28px;
    border-bottom: 1px solid gainsboro;
}

#active-list {
    width: 60vw;
    margin-top: 28px;
    margin-bottom: 28px;
    border-radius: 12px;
    background-color: cornsilk;
}

.list-title {
    width: 15vw;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    border-bottom: 1px solid gainsboro;
    text-indent: 12px;
    /* border-top: 1px solid gainsboro; */
}

#add-list-btn {
    margin-top: auto;
    width: 38px;
    height: 38px;
    font-size: 28px;
    margin-bottom: 12px;
}

.remove-list-btn {
    width: 24px;
    height: 24px;
    font-size: 22px;
    margin-right: 12px;
    display: flex;
    align-items: center;
}

#active-list-title {
    width: 60vw;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 28px;
    border-bottom: 1px solid gainsboro;
}

#active-list-items {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

#empty-list-item {
    width: 60vw;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid gainsboro;
}

#add-item {
    width: 60vw;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

#add-item-btn {
    width: 24px;
    height: 24px;
    font-size: 22px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
